@require '_define.styl'
@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

body
	font-size base-font-size
	font-family Roboto, Arial, sans-serif

.container
	padding-left 10px
	padding-right 10px