@require '_define.styl'
@require '_reset.styl'
@import 'kouto-swiss'

body
	font-size base-font-size
	font-family Roboto, Arial, sans-serif

.container
	max-width max-width
	margin-left auto
	margin-right auto