@require '_define.styl'
@require 'core.styl'

transition-time = .2s
navi-size = 10px
navi-size-increase = 4px

.fs-sections
	position fixed
	top 0
	left 0
	size 100% false
	overflow hidden

.fs-navi
	position fixed
	right navi-size * 2
	top 0
	transition top transition-time;
	z-index 2
	text-align center
	div
		size navi-size navi-size
		border-radius 50%
		background black
		margin-top navi-size * 2
		margin-bottom navi-size * 2
		opacity 0.5
		transition all transition-time;
		cursor pointer
	div.fs-anchor-current
		background #ccc

.fs-section
	position absolute
	top 0
	size 100% false
	visibility hidden
	z-index 1
	transition height transition-time;
	overflow hidden

.fs-section-current, .fs-section-move
	visibility visible