@require '_define.styl'
@require 'core.styl'
@require 'fs-navi.styl'

top-menu-height = 50px
bg-about-us-width = 890px
bg-about-us-height = 433px
bg-partners-width = 622px
bg-partners-height = 293px

body
	background black

.top-menu
	position fixed
	top 0
	left 0
	size 100% top-menu-height
	line-height top-menu-height
	background-color black
	z-index 3
	.logo
		font-size 18px
		font-size 1.3rem
		color white
		line-height 50px
		font-weight 700
		text-decoration none

.page
	display table
	size 100% 100%

.news-table
	table-layout fixed
	border-collapse collapse
	size 100% 100%
	td
		position relative
		border 2px solid white
		overflow hidden
		background url(home-article-noise) repeat black;
	.home-article-background
		position absolute
		z-index 0
		top 50%
		left 50%
		size false 100%
		transform translate(-50%, -50%)
		box-shadow 0 0 50px 20px black
	.home-article
		position absolute
		z-index 1
		top 0
		left 0
		size 100% 100%
		overflow hidden
		background-color black
		background-color rgba(0, 0, 0, .5)
		color white
		padding em(56px, base-font-size) em(45px, base-font-size)
		.home-article-heading
			font-size em(25px, base-font-size)
		.home-article-bulletin
			padding 10px 0 10px
			line-height em(16px, base-font-size)

.news-table.small-screen
	display none

@media screen and (max-width: 799px), (max-height: 599px)
	.news-table.small-screen
		display table
	.news-table
		display none
		.home-article
			padding 5px 42px 5px 5px
			.home-article-heading
				font-size em(18px, base-font-size)

@media screen and (max-height: 479px)
	.news-table
		tr:last-child
			display none

.section-logo
	background #eaeaea

.section-services
	background #f6da40

.section-technologies
	background #00af43

.section-about-us
	background-color white
	background-image url(home-about-us)
	background-position center bottom
	background-repeat no-repeat
	background-size bg-about-us-width bg-about-us-height


@media screen and (max-width: bg-about-us-width), (max-height: bg-about-us-height)
	.section-about-us
		background-size contain

.section-partners
	background-color #244f90

	.page
		background-image url(home-map-partner)
		background-repeat no-repeat
		background-position center center
		background-size bg-partners-width bg-partners-height
		margin-top 10px
		height calc('100% - 20px')

@media screen and (max-width: bg-partners-width), (max-height: bg-partners-height)
	.section-partners
		.page
			background-size contain

.section-news
	background-color #f3f3f3

.section-footer
	background-color white