@require '_define.styl'

top-menu-height = 50px

body
	background black

.top-menu
	position fixed
	top 0
	left 0
	width 100%
	height top-menu-height
	line-height top-menu-height
	background-color black
	z-index 3
	.logo
		font-size 18px
		font-size 1.3rem
		color white
		line-height 50px
		font-weight 700
		text-decoration none

.page
	display table
	width 100%
	height 100%

.news-table
	border-spacing 2px
	width 100%
	height 100%
	max-width max-width
	margin-left auto
	margin-right auto
	td {
		background blue
	}

.section-logo
	background #eaeaea

.section-services
	background #f6da40

.section-technologies
	background #00af43

.section-about-us
	background white

.section-parners
	background-color #244f90
	background-image url(home-map-partner)
	background-repeat no-repeat
	background-size contain
	background-position center center

.section-news
	background white

.section-footer
	background #eaeaea